body {
  background-color: ;
}
h1 {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

