body {
  background-color: ;
}

new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: red;
  
}
center {
  display: flex;
  justify-content: center;
  align-items: center;
}
